:root{
    --col-primary: rgb(0, 255, 98);
}

/* resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    display: inline-block;
}

button{
    font-family: inherit;
    background-color: transparent;
    border: none;
}
/* basic styling */

html{
    font-size: 10px;
}

body{
    font-family: 'Lato' , sans-serif;
    font-weight: 400;
}

/* common styles */



/* Anchor links */

.bg-hover{
    position: relative;
}

.bg-hover::after{
    content: "";
    display: inline-block;
    width: 0%;
    height: 100%;
    position: absolute;
    background: var(--col-primary);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: .3rem;
    transition: all .3s;
}

.bg-hover:hover::after{
    width: 50%;
}

.bg-hover.active::after{
    width: 50%;
}


/* header */

.nav{
    padding: 2rem 3rem;
    content: "";
    /* display: table; */
    clear: both;
}

.header__logo{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: -0.5rem;
    display: block;
    float: left;
}

.header__logo--text-2{
    color: var(--col-primary);
}

.navigtaion__nav{
    float: right;
}

.navigation__list{
    list-style: none;
    font-size: 1.6rem;
}

.navigation__item{
    display: inline-block;
    margin-right: 2rem;
}

.navigation__link{
    text-decoration: none;
    display: inline-block;
    color: #333;
    padding: .5rem .8rem ;
    /* position: relative; */
}

.navigation__link-grey{
    color: #444;
}

.row{
    max-width: 114rem;
    margin: 0 auto;
    content: "";
    clear: both;
    /* display: table; */

    @media (max-width: 625px){
        max-width: 40rem;
    }
}

.col-1-of-2{
    width: calc((100% - 6rem) / 2);
    float: left;
    /* background-color: lightblue; */

    @media (max-width: 625px){
        width: 100%;
    }
}


.main_content{
    margin-top: 5rem;
}

/* Left Content Styling */

.heading_primary{
    display: inline-block;
    font-size: 3rem;
    width: 20rem;
    font-weight: 700;
}

.paragraph{
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 2rem 0;
}
/* Button */

.btn{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    padding: .5rem .8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn_primary{
    position: relative;
    cursor: pointer;
}

.btn_primary::after{
   content: "";
   display: inline-block;
   width: 50%;
   height: 100%;
   position: absolute;
   background: var(--col-primary);
   top: 0;
   left: 0;
   z-index: -1;
   border-radius: .3rem;
   transition: all .3s;
}

.btn_primary:hover::after{
   width: 100%;
}

.content_section{
    padding: 3rem 4rem;

    @media (max-width: 625px){
        text-align: center;
    }
}

.social{
    font-size: 2rem;
    color: #333;
    padding: 0 1rem 0 0;
}

/* Image Section */

.main_img{
    max-width: 30rem;
    min-height: 30rem;
    text-align: center;
    margin-inline: auto;
}

.fruit_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.arrow{
    text-align: right;

    @media (max-width: 625px){
        text-align: center;
    }
}

.arrow_symbol{
    font-size: 1.4rem;
    color: #333;
    border: 1px solid #333;
    padding: .5rem .8rem;

    
}

.arrow_symbol:not(:last-child){
    margin-right: .8rem;
}
